.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* This ensures the main content area takes up the remaining space */
.container > *:not(:first-child) {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--background-default);
}
